### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [27]:
school_count = len(school_data_complete["school_name"].unique())
#school_count

student_count = school_data_complete["student_name"].count()
#student_count

budget = school_data["budget"].sum()
#budget

avg_math_score = student_data["math_score"].mean()
#avg_math_score

avg_reading_score = student_data["reading_score"].mean()
#avg_reading_score

overall_passing = (avg_math_score + avg_reading_score)/2
#overall_passing

dist_math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()["student_name"]
#dist_math_pass

dist_math_perc = (dist_math_pass / student_count)*100
#dist_math_perc

dist_reading_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70].count()["student_name"]
#dist_reading_pass

dist_reading_perc = (dist_reading_pass / student_count)*100
#dist_reading_perc

dist_summ_df = pd.DataFrame({"Total Schools" : [school_count], 
                             "Total Students" : [student_count], 
                            "Total Budget" : [budget], 
                             "Average Math Score" : [avg_math_score], 
                             "Average Reading Score" : [avg_reading_score], 
                             "% Passing Math" : [dist_math_perc], 
                             "% Passing Reading" : [dist_reading_perc], 
                            "% Overall Passing" : [overall_passing]})
#dist_summ_df

dist_summ_df["Total Students"] = dist_summ_df["Total Students"].map("{:,}".format)
dist_summ_df["Total Budget"] = dist_summ_df["Total Budget"].map("${:,}".format)
dist_summ_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [10]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [28]:
grouped_data = school_data_complete.groupby(["school_name"])
grouped_data.count().head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [30]:
sch_budget = grouped_data["budget"].mean()
sch_size = grouped_data["size"].mean()
stu_budget = sch_budget / sch_size
#stu_budget

math_avg = grouped_data["math_score"].mean()
#math_avg

reading_avg = grouped_data["reading_score"].mean()
#reading_avg

sch_math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70]
#sch_math_pass.head()

school_size = school_data_complete["school_name"].value_counts()
#school_size

math_by_school = sch_math_pass.groupby(["school_name"]).count()["student_name"]
#math_by_school

sch_math_perc = ((math_by_school / school_size)*100)
#sch_math_perc

sch_reading_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
#sch_reading_pass.head()

reading_by_school = sch_reading_pass.groupby(["school_name"]).count()["student_name"]
#reading_by_school

sch_reading_perc = ((reading_by_school / school_size)*100)
#sch_reading_perc

sch_overall_pass = (sch_math_perc + sch_reading_perc)/2
#sch_overall_pass

grouped_schooltype = school_data_complete.groupby(["school_name", "type"])
grouped_schooltype.count()
grouped_df = pd.DataFrame(grouped_schooltype.count())
#grouped_df
group_reduced = grouped_df.drop(["Student ID", "student_name", "gender", "grade", "reading_score", "math_score", "School ID", "size", "budget"], axis=1, inplace=True)
grouped_ind = grouped_df.reset_index()
#grouped_ind
#grouped_ind.columns

school_summ = pd.DataFrame({"Total Students" : school_size, 
                            "Total School Budget" : sch_budget, 
                            "Per Student Budget" : stu_budget,
                             "Average Math Score" : math_avg, 
                             "Average Reading Score" : reading_avg, 
                             "% Passing Math" : sch_math_perc, 
                             "% Passing Reading" : sch_reading_perc, 
                            "% Overall Passing" : sch_overall_pass})

school_ind = school_summ.reset_index().rename(columns={"index":"school_name"})
#school_ind
#school_ind.columns

merged_school_df = pd.merge(grouped_ind, school_ind, on="school_name")
merged_school_df
final_schools = merged_school_df.set_index("school_name")
final_renamed = final_schools.rename(columns={"type":"School Type"})
final_renamed.index.names = ['']
#final_renamed
final_renamed["Total Students"] = final_renamed["Total Students"].map("{:,}".format)
final_renamed["Total School Budget"] = final_renamed["Total School Budget"].map("${:,}".format)
final_renamed["Per Student Budget"] = final_renamed["Per Student Budget"].map("${:.2f}".format)
final_renamed.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,"1,858","$1,081,356",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,"2,949","$1,884,411",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,"2,739","$1,763,916",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,"1,468","$917,500",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.