### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [4]:
student_count = school_data_complete["student_name"].count()
student_count

39170

In [5]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
budget = school_data["budget"].sum()
budget

24649428

In [7]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [10]:
avg_math_score = student_data["math_score"].mean()
avg_math_score

78.98537145774827

In [11]:
avg_reading_score = student_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [12]:
overall_passing = (avg_math_score + avg_reading_score)/2
overall_passing

80.43160582078121

In [8]:
dist_math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()["student_name"]
dist_math_pass

29370

In [9]:
dist_math_perc = (dist_math_pass / student_count)*100
dist_math_perc

74.9808526933878

In [13]:
dist_reading_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70].count()["student_name"]
dist_reading_pass

33610

In [14]:
dist_reading_perc = (dist_reading_pass / student_count)*100
dist_reading_perc

85.80546336482001

In [17]:
dist_summ_df = pd.DataFrame({"Total Schools" : [school_count], 
                             "Total Students" : [student_count], 
                            "Total Budget" : [budget], 
                             "Average Math Score" : [avg_math_score], 
                             "Average Reading Score" : [avg_reading_score], 
                             "% Passing Math" : [dist_math_perc], 
                             "% Passing Reading" : [dist_reading_perc], 
                            "% Overall Passing" : [overall_passing]})
dist_summ_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [18]:
dist_summ_df["Total Students"] = dist_summ_df["Total Students"].map("{:,}".format)
dist_summ_df["Total Budget"] = dist_summ_df["Total Budget"].map("${:,}".format)
dist_summ_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [19]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [115]:
school_types = grouped_data["type"].unique()
school_types = pd.DataFrame(grouped_data["type"].unique())
school_types

                             type
school_name
Bailey High School     [District]
Cabrera High School     [Charter]
Figueroa High School   [District]
Ford High School       [District]
Griffin High School     [Charter]
Hernandez High School  [District]
Holden High School      [Charter]
Huang High School      [District]
Johnson High School    [District]
Pena High School        [Charter]
Rodriguez High School  [District]
Shelton High School     [Charter]
Thomas High School      [Charter]
Wilson High School      [Charter]
Wright High School      [Charter]

In [20]:
grouped_data = school_data_complete.groupby(["school_name"])
grouped_data

In [116]:
math_avg = grouped_data["math_score"].mean()
math_avg = pd.DataFrame(grouped_data["math_score"].mean())
math_avg

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [117]:
reading_avg = grouped_data["reading_score"].mean()
reading_avg = pd.DataFrame(grouped_data["reading_score"].mean())
reading_avg

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [24]:
sch_math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70]
sch_math_pass.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [118]:
school_size = school_data_complete["school_name"].value_counts()
school_size = pd.DataFrame(school_data_complete["school_name"].value_counts())
school_size

                       school_name
Bailey High School            4976
Johnson High School           4761
Hernandez High School         4635
Rodriguez High School         3999
Figueroa High School          2949
Huang High School             2917
Ford High School              2739
Wilson High School            2283
Cabrera High School           1858
Wright High School            1800
Shelton High School           1761
Thomas High School            1635
Griffin High School           1468
Pena High School               962
Holden High School             427

In [133]:
math_by_school = sch_math_pass.groupby(["school_name"]).count()["student_name"]
math_by_school = pd.DataFrame(sch_math_pass.groupby(["school_name"]).count()["student_name"])
math_by_school

                       student_name
school_name
Bailey High School             4077
Cabrera High School            1803
Figueroa High School           2381
Ford High School               2172
Griffin High School            1426
Hernandez High School          3748
Holden High School              411
Huang High School              2372
Johnson High School            3867
Pena High School                923
Rodriguez High School          3208
Shelton High School            1688
Thomas High School             1591
Wilson High School             2204
Wright High School             1739

In [132]:
#sch_math_perc = ((math_by_school / school_size)*100)
#sch_math_perc = pd.DataFrame(((math_by_school["student_name"] / school_size["school_name"])*100))
sch_math_perc = pd.DataFrame((math_by_school / school_size)*100)
sch_math_perc

,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School,school_name
Bailey High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Johnson High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hernandez High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rodriguez High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Huang High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wilson High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wright High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shelton High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thomas High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pena High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holden High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
sch_reading_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
sch_reading_pass.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [129]:
reading_by_school = sch_reading_pass.groupby(["school_name"]).count()["student_name"]
#reading_by_school = pd.DataFrame(sch_reading_pass.groupby(["school_name"]).count()["student_name"])
reading_by_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [128]:
#sch_reading_perc = ((reading_by_school / school_size)*100)
sch_reading_perc = pd.DataFrame(((reading_by_school["student_name"] / school_size["school_name"])*100))
sch_reading_perc

                               0
Bailey High School     81.933280
Cabrera High School    97.039828
Figueroa High School   80.739234
Ford High School       79.299014
Griffin High School    97.138965
Hernandez High School  80.862999
Holden High School     96.252927
Huang High School      81.316421
Johnson High School    81.222432
Pena High School       95.945946
Rodriguez High School  80.220055
Shelton High School    95.854628
Thomas High School     97.308869
Wilson High School     96.539641
Wright High School     96.611111

In [64]:
sch_budget = grouped_data["budget"].unique()
sch_budget

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [65]:
stu_budget = sch_budget / school_size
stu_budget

Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [114]:
sch_overall_pass = (sch_math_perc + sch_reading_perc)/2
sch_overall_pass = pd.DataFrame((sch_math_perc + sch_reading_perc)/2)
sch_overall_pass

                               0
Bailey High School     74.306672
Cabrera High School    95.586652
Figueroa High School   73.363852
Ford High School       73.804308
Griffin High School    95.265668
Hernandez High School  73.807983
Holden High School     94.379391
Huang High School      73.500171
Johnson High School    73.639992
Pena High School       95.270270
Rodriguez High School  73.293323
Shelton High School    94.860875
Thomas High School     95.290520
Wilson High School     95.203679
Wright High School     94.972222

In [109]:
#school_summ =  {[school_types], 
                            [school_size], 
                            [sch_budget], 
                            [stu_budget],
                            [math_avg], 
                            [reading_avg], 
                            [sch_math_perc], 
                            [sch_reading_perc], 
                            [sch_overall_pass]}
#school_df = pd.DataFrame(school_summ)
#school_df

TypeError: unhashable type: 'list'

In [113]:
school_summ = {"School Type" : [school_types], 
                             "Total Students" : [school_size], 
                            "Total School Budget" : [sch_budget], 
                            "Per Student Budget" : [stu_budget],
                             "Average Math Score" : [math_avg], 
                             "Average Reading Score" : [reading_avg], 
                             "% Passing Math" : [sch_math_perc], 
                             "% Passing Reading" : [sch_reading_perc], 
                            "% Overall Passing" : [sch_overall_pass]}
#school_df = pd.DataFrame(school_summ, index =[school_data_complete["school_name"].unique()])
school_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Huang High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Figueroa High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Shelton High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Hernandez High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Griffin High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Wilson High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Cabrera High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Bailey High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Holden High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Pena High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Wright High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Rodriguez High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Johnson High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Ford High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...
Thomas High School,school_name Bailey High School [District...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School [3124928]...,Bailey High School [628.0] Cabrera High ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.